/* TheRoyals Css Style */

#theroyals-header {
	position: relative;
	background: url(http://forum.theroyals.it/style/TheRoyals/img/main_top.png) top repeat-x;
	background-size: contain;
}

@media screen and (max-width:300px) {
	#theroyals-header {
		display: none;		
	}
}

@media screen and (max-width:350px) {
	#theroyals-motor {
		display: none;
	}
}

#theroyals-center {
	max-width: 600px;
	max-height: 236px;
	margin: auto;
	column-count: 2;
}

#theroyals-title {
	background: url(http://forum.theroyals.it/style/TheRoyals/img/the_royals.png) no-repeat;
	background-size: contain;
	padding-bottom: 40%;
	margin-top: 5%;
}

#theroyals-phrase {
	background: url(http://forum.theroyals.it/style/TheRoyals/img/phrase.png) no-repeat;
	background-size: contain;
	padding-bottom: 20%;
	margin-left: 10%;
}

#theroyals-motor {
	background: url(http://forum.theroyals.it/style/TheRoyals/img/motorRE.png) no-repeat;
	background-size: contain;
	padding-bottom: 80%;
}

#theroyals-header-bottom {
	background-color: #335146;
	height: 1px;
	width: 100%;
	clear: both;
}

#theroyals-menu {
	padding: 10px 5px;
}

#theroyals-menu a {
	text-decoration: none;
	font-family: FontleroyBrownRegular;
	font-size: 2.5em;
	color: #fff;
	padding-left: 15px;
}

#theroyals-user-menu {
	float: right;
	margin-right: 15px;
}

#theroyals-wrap {
	min-height: 100%;
}

#theroyals-bottom {
	margin-top: -150px;
	height: 150px;
	width: 100%;
	position: relative;
	background-color: #335146;
	clear: both;
	color: white;
	font-family: serif;
}

#theroyals-bottom .block {
	float: left;
	margin-right: 3em;
}

#theroyals-bg {
	background: url(http://forum.theroyals.it/style/TheRoyals/img/bg_image.png) repeat-x;
	background-size: 100% 100%;
	width: 100%;
	overflow:auto;
	padding-bottom: 150px;
}


